/**
 * css for info bar
 */
.infobar-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* max-width: 1350px; */
  z-index: 10002;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  color: white;
  background-color: #00304c;
  opacity: .95;
  height: auto;
  display: none;
}
.infobar-wrapper div {
  display: inline;
}
#infobar-content {
  line-height: 75px;
}
#infobar-content a {
  text-decoration: underline;
  color: white;
}
#infobar-close-btn {
  cursor: pointer;
  margin-left: 22px;
  text-decoration: none;
  height: 35px;
  width: 45px;
  border-radius: 3px;
  font-weight: normal;
  font-size: 17px;
  background-color: white;
  color: #00304c;
  display: inline-block;
  font-weight: bold;
  padding-top: 7px;
}
@media screen and (max-width: 768px) {
  .infobar-wrapper div {
    width: 100%;
    display: inline-block;
    height: auto;
    line-height: 30px;
  }
  #infobar-close-btn {
    margin-top: 10px;
    margin-left: 0px;
    padding-top: 3px;
  }
  .infobar-wrapper {
    padding: 15px;
  }
  #infobar-content {
    line-height: 30px;
  }
}
