{#
/**
 * @file
 * Theme implementation for infobar.
 *
 * Available variables:
 * - information: The information added in the infobar block.
 */
#}
<div class="infobar-wrapper">
    <div id="infobar-content" data-infobar="infobar-content">{{ information }}</div>
    <div class="infobar-close"> <span id="infobar-close-btn">{{ 'Ok'|t }}</span> </div>
</div>
